<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.throwx.octopus.server.repository.VisitStatisticsDao">
    <resultMap id="BaseResultMap" type="cn.throwx.octopus.server.model.entity.VisitStatistics"
               extends="cn.throwx.octopus.server.repository.mapper.VisitStatisticsMapper.BaseResultMap">
    </resultMap>

    <select id="selectByUniqueKey" resultMap="BaseResultMap">
        SELECT *
        FROM visit_statistics
        WHERE statistics_date = #{statisticsDate}
          AND compression_code = #{compressionCode}
          AND short_url_digest = #{shortUrlDigest}
          AND long_url_digest = #{longUrlDigest}
    </select>

</mapper>